In [1]:
import pandas as pd
import time

This notebook is for the drug/prescription information.

In [2]:
drug_file = pd.read_csv('DRUG20Q3.txt', delimiter='$')

C:\Users\G-Sprouts\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
drug_file.drugname.value_counts()

ZANTAC                    36299
PREDNISONE.               20093
METHOTREXATE.             19433
REVLIMID                  18076
HUMIRA                    18073
                          ...
RITONAVIR/TIPRANAVIR          1
OFRANERGENE OBADENOVEC        1
NORTRIPYLINE HCL              1
Propofol MYLAN                1
NITROGLYCERIN TOPICAL         1
Name: drugname, Length: 64668, dtype: int64

In [4]:
drug_file.dechal.value_counts()

U    666532
D    200547
Y    132982
N     28688
Name: dechal, dtype: int64

In [5]:
null_df = pd.DataFrame(drug_file.isnull().sum().sort_values(ascending=False)).reset_index()
null_df.columns = [['column', 'missing_values']]

In [6]:
null_df

           column missing_values
0          exp_dt        1889333
1   cum_dose_unit        1847041
2    cum_dose_chr        1845945
3          rechal        1600785
4         lot_num        1493003
5       dose_freq        1465144
6         nda_num        1262789
7       dose_unit        1158789
8        dose_amt        1158242
9       dose_form        1130042
10         dechal         866404
11       dose_vbm         795122
12          route         572258
13        prod_ai          37053
14       drugname            151
15        val_vbm              0
16       role_cod              0
17       drug_seq              0
18         caseid              0
19      primaryid              0

In [7]:
drug_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895153 entries, 0 to 1895152
Data columns (total 20 columns):
 #   Column         Dtype
---  ------         -----
 0   primaryid      int64
 1   caseid         int64
 2   drug_seq       int64
 3   role_cod       object
 4   drugname       object
 5   prod_ai        object
 6   val_vbm        int64
 7   route          object
 8   dose_vbm       object
 9   cum_dose_chr   float64
 10  cum_dose_unit  object
 11  dechal         object
 12  rechal         object
 13  lot_num        object
 14  exp_dt         object
 15  nda_num        float64
 16  dose_amt       object
 17  dose_unit      object
 18  dose_form      object
 19  dose_freq      object
dtypes: float64(2), int64(4), object(14)
memory usage: 289.2+ MB

In [8]:
new_drug_df = drug_file[['primaryid', 'caseid', 'drug_seq', 'role_cod', 'drugname', 'prod_ai', 'val_vbm', 'route', 'dose_vbm', 'cum_dose_chr']]

In [9]:
new_drug_df

,primaryid,caseid,drug_seq,role_cod,drugname,prod_ai,val_vbm,route,dose_vbm,cum_dose_chr
0,100046943,10004694,1,PS,LIPITOR,ATORVASTATIN CALCIUM,1,Oral,"20 MG, DAILY",NaN
1,100046943,10004694,2,SS,LIPITOR,ATORVASTATIN CALCIUM,1,Oral,"20 MG, DAILY",NaN
2,100046943,10004694,3,SS,ATORVASTATIN CALCIUM.,ATORVASTATIN CALCIUM,1,Oral,"20 MG, DAILY",NaN
3,100046943,10004694,4,SS,ATORVASTATIN CALCIUM.,ATORVASTATIN CALCIUM,1,Oral,"20 MG, DAILY",NaN
4,100046943,10004694,5,C,SIMVASTATIN.,SIMVASTATIN,1,NaN,"40 MG, DAILY",NaN
...,...,...,...,...,...,...,...,...,...,...
1895148,999913118,9999131,8,C,IMIQUIMOD.,IMIQUIMOD,1,Unknown,NaN,NaN
1895149,999913118,9999131,9,C,TESTOSTERONE CYPIONATE.,TESTOSTERONE CYPIONATE,1,Unknown,NaN,NaN
1895150,999913118,9999131,10,C,GARLIC.,GARLIC,1,Unknown,NaN,NaN
1895151,999913118,9999131,11,C,CLOBETASOL PROPIONATE.,CLOBETASOL PROPIONATE,1,Unknown,NaN,NaN
1895152,999913118,9999131,12,C,SORIATANE,ACITRETIN,1,Unknown,NaN,NaN

In [108]:
df = new_drug_df[new_drug_df.caseid == 10004694]

In [160]:
drugs = pd.DataFrame()

In [161]:
### for loop for determining the amount of 'PS' (Primary suspect), 'SS' (Secondary Suspects), 'C', (concamitants), 
### or 'I' (Interacting) medications present for every CaseID


p = 0
s = 0
c = 0
i = 0


for x,j in enumerate(new_drug_df.caseid.unique()):
    df = new_drug_df[new_drug_df.caseid == j]


    for y in range(len(df)):
        if df.iloc[y,3] == 'PS':
            p += 1
        elif df.iloc[y,3] == 'SS':
            s += 1
        elif df.iloc[y,3] == 'c':
            c += 1
        else:
            i += 1

    drugs.loc[x, 'CaseID'] = j
    drugs.loc[x, 'Primary'] = p
    drugs.loc[x, 'Secondary'] = s
    drugs.loc[x, 'Concamitant'] = c
    drugs.loc[x, 'Interacting'] = i
        
    p,s,c,i = 0,0,0,0

In [162]:
drugs.CaseID = drugs.CaseID.astype(int)

In [10]:
new_drug_df.role_cod = new_drug_df.role_cod.astype(str)

C:\Users\G-Sprouts\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [11]:
new_drug_df.dtypes

primaryid         int64
caseid            int64
drug_seq          int64
role_cod         object
drugname         object
prod_ai          object
val_vbm           int64
route            object
dose_vbm         object
cum_dose_chr    float64
dtype: object

In [12]:
primary = new_drug_df[new_drug_df.role_cod == 'PS']
secondary = new_drug_df[new_drug_df.role_cod == 'SS']

In [13]:
primary

,primaryid,caseid,drug_seq,role_cod,drugname,prod_ai,val_vbm,route,dose_vbm,cum_dose_chr
0,100046943,10004694,1,PS,LIPITOR,ATORVASTATIN CALCIUM,1,Oral,"20 MG, DAILY",NaN
5,100048208,10004820,1,PS,DILANTIN,PHENYTOIN,1,Oral,"100 MG, 2X/DAY",NaN
7,100048232,10004823,1,PS,LIPITOR,ATORVASTATIN CALCIUM,1,Oral,UNK,NaN
9,100049343,10004934,1,PS,LIPITOR,ATORVASTATIN CALCIUM,1,Oral,"20 MG, 1X/DAY",NaN
14,100051353,10005135,1,PS,LIPITOR,ATORVASTATIN CALCIUM,1,Oral,"10 MG, UNK",NaN
...,...,...,...,...,...,...,...,...,...,...
1895121,99988814,9998881,1,PS,TOCILIZUMAB.,TOCILIZUMAB,1,Unknown,NaN,NaN
1895135,99988881,9998888,1,PS,IBANDRONIC ACID.,IBANDRONIC ACID,1,Oral,NaN,NaN
1895136,99989772,9998977,1,PS,IBANDRONIC ACID.,IBANDRONIC ACID,1,Unknown,NaN,NaN
1895140,99990442,9999044,1,PS,IBANDRONIC ACID.,IBANDRONIC ACID,1,Unknown,NaN,NaN
1895141,999913118,9999131,1,PS,STELARA,USTEKINUMAB,1,Subcutaneous,NaN,NaN

In [14]:
primary = primary[['caseid', 'drugname', 'prod_ai', 'val_vbm', 'dose_vbm', 'cum_dose_chr']]
secondary = secondary[['caseid', 'drugname', 'dose_vbm']]

In [15]:
primary = primary.reset_index(drop=True)
secondary = secondary.reset_index(drop=True)

In [16]:
primary.drugname.value_counts()

ZANTAC                                                           23064
RANITIDINE.                                                       9929
HUMIRA                                                            7629
REVLIMID                                                          6576
COSENTYX                                                          6052
                                                                 ...
SULFASALAZINE EC                                                     1
Clopidogrel 75mg  film?coated tablets                                1
FLUPHENAZINE                                                         1
BUDESONIDE, FORMETREOL                                               1
ICATIBANT ACETATE SYR (3?PAK 30MG/ML TEVA PHARMACEUTICALS USA        1
Name: drugname, Length: 11690, dtype: int64

In [17]:
secondary.drugname.value_counts()

ZANTAC                                           12416
REVLIMID                                         11292
INFLECTRA                                        10678
AVONEX                                           10085
METHOTREXATE.                                     9761
                                                 ...
ALKA?SELTZER HEARTBURN RELIEFCHEWS                   1
WARFARIN MYLAN                                       1
Auro?Moxifloxacin Tablet                             1
POLY HIST CB                                         1
ATORVASTATINA                      /01326101/        1
Name: drugname, Length: 19742, dtype: int64

In [18]:
primary[['drugname', 'dose_vbm', 'cum_dose_chr']]

                drugname        dose_vbm  cum_dose_chr
0                LIPITOR    20 MG, DAILY           NaN
1               DILANTIN  100 MG, 2X/DAY           NaN
2                LIPITOR             UNK           NaN
3                LIPITOR   20 MG, 1X/DAY           NaN
4                LIPITOR      10 MG, UNK           NaN
...                  ...             ...           ...
431661      TOCILIZUMAB.             NaN           NaN
431662  IBANDRONIC ACID.             NaN           NaN
431663  IBANDRONIC ACID.             NaN           NaN
431664  IBANDRONIC ACID.             NaN           NaN
431665           STELARA             NaN           NaN

[431666 rows x 3 columns]

In [19]:
primary.cum_dose_chr.value_counts()

0.000        392
1.000        260
200.000      210
10.000       201
2.000        186
            ...
201.000        1
275.500        1
3215.000       1
18080.000      1
228.261        1
Name: cum_dose_chr, Length: 3494, dtype: int64

In [20]:
drug_file.cum_dose_unit.value_counts()

MG         34464
DF          6159
G           1949
UG          1543
MG/KG       1392
ML           908
MG/M2        804
IU           393
Gtt          157
MEQ           60
UG/KG         57
UG/M2         45
PCT           31
L             29
MG/M**2       27
KIU           23
MIU           23
MMOL          16
GM            11
MCi            5
IU/KG          4
MBq            3
NG             3
UL             2
Ci             1
GTT            1
MOL            1
KBq            1
Name: cum_dose_unit, dtype: int64