In [1]:
import pandas as pd
import time

This notebook is for the drug/prescription information.

In [2]:
drug_file = pd.read_csv('DRUG20Q3.txt', delimiter='$')

C:\Users\G-Sprouts\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (14,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
drug_file.drugname.value_counts()

ZANTAC                                                                    36299
PREDNISONE.                                                               20093
METHOTREXATE.                                                             19433
REVLIMID                                                                  18076
HUMIRA                                                                    18073
                                                                          ...
PROCARDIA XL                          /00340701/                              1
LANTISEPTIC                                                                   1
UNSPECIFIED ALLERGY MEDICATIONS                                               1
cyclophosphamid                                                               1
AMOXICILLIN AND CLAVULANATE POTASSIUM [AMOXICILLIN TRIHYDRATE;CLAVULAN        1
Name: drugname, Length: 64668, dtype: int64

In [4]:
drug_file.dechal.value_counts()

U    666532
D    200547
Y    132982
N     28688
Name: dechal, dtype: int64

In [5]:
null_df = pd.DataFrame(drug_file.isnull().sum().sort_values(ascending=False)).reset_index()
null_df.columns = [['column', 'missing_values']]

In [6]:
null_df

           column missing_values
0          exp_dt        1889333
1   cum_dose_unit        1847041
2    cum_dose_chr        1845945
3          rechal        1600785
4         lot_num        1493003
5       dose_freq        1465144
6         nda_num        1262789
7       dose_unit        1158789
8        dose_amt        1158242
9       dose_form        1130042
10         dechal         866404
11       dose_vbm         795122
12          route         572258
13        prod_ai          37053
14       drugname            151
15        val_vbm              0
16       role_cod              0
17       drug_seq              0
18         caseid              0
19      primaryid              0

In [7]:
drug_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895153 entries, 0 to 1895152
Data columns (total 20 columns):
 #   Column         Dtype
---  ------         -----
 0   primaryid      int64
 1   caseid         int64
 2   drug_seq       int64
 3   role_cod       object
 4   drugname       object
 5   prod_ai        object
 6   val_vbm        int64
 7   route          object
 8   dose_vbm       object
 9   cum_dose_chr   float64
 10  cum_dose_unit  object
 11  dechal         object
 12  rechal         object
 13  lot_num        object
 14  exp_dt         object
 15  nda_num        float64
 16  dose_amt       object
 17  dose_unit      object
 18  dose_form      object
 19  dose_freq      object
dtypes: float64(2), int64(4), object(14)
memory usage: 289.2+ MB

In [8]:
new_drug_df = drug_file[['primaryid', 'caseid', 'drug_seq', 'role_cod', 'drugname', 'route', 'dose_vbm']]

In [9]:
new_drug_df

,primaryid,caseid,drug_seq,role_cod,drugname,route,dose_vbm
0,100046943,10004694,1,PS,LIPITOR,Oral,"20 MG, DAILY"
1,100046943,10004694,2,SS,LIPITOR,Oral,"20 MG, DAILY"
2,100046943,10004694,3,SS,ATORVASTATIN CALCIUM.,Oral,"20 MG, DAILY"
3,100046943,10004694,4,SS,ATORVASTATIN CALCIUM.,Oral,"20 MG, DAILY"
4,100046943,10004694,5,C,SIMVASTATIN.,NaN,"40 MG, DAILY"
...,...,...,...,...,...,...,...
1895148,999913118,9999131,8,C,IMIQUIMOD.,Unknown,NaN
1895149,999913118,9999131,9,C,TESTOSTERONE CYPIONATE.,Unknown,NaN
1895150,999913118,9999131,10,C,GARLIC.,Unknown,NaN
1895151,999913118,9999131,11,C,CLOBETASOL PROPIONATE.,Unknown,NaN
1895152,999913118,9999131,12,C,SORIATANE,Unknown,NaN

In [10]:
new_drug_df.role_cod = new_drug_df.role_cod.astype(str)

C:\Users\G-Sprouts\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [11]:
new_drug_df.dtypes

primaryid     int64
caseid        int64
drug_seq      int64
role_cod     object
drugname     object
route        object
dose_vbm     object
dtype: object

In [22]:
primary = new_drug_df[new_drug_df.role_cod == 'PS']
secondary = new_drug_df[new_drug_df.role_cod == 'SS']

In [23]:
primary = primary[['caseid', 'drugname', 'dose_vbm']]
secondary = secondary[['caseid', 'drugname', 'dose_vbm']]

In [24]:
primary = primary.reset_index(drop=True)
secondary = secondary.reset_index(drop=True)

In [20]:
primary.drugname.value_counts()

ZANTAC                                        23064
RANITIDINE.                                    9929
HUMIRA                                         7629
REVLIMID                                       6576
COSENTYX                                       6052
                                              ...
MULTIVITAMINS                                     1
Paracetamol 10 mg/ml Solution for Infusion        1
ATENOLOL 50 MG 30 COMPRIMIDOS                     1
RADIATION                                         1
INTERFERON ALFA?2A                                1
Name: drugname, Length: 11690, dtype: int64

In [29]:
secondary.drugname.value_counts()

ZANTAC                                                                    12416
REVLIMID                                                                  11292
INFLECTRA                                                                 10678
AVONEX                                                                    10085
METHOTREXATE.                                                              9761
                                                                          ...
HUMAN IMMUNOGLBULIN                                                           1
GUANFACINE HCL TEVA                                                           1
TRANXILIUM 50 MG COMPRIMIDOS RECUBIERTOS CON PELICULA , 20 COMPRIMIDOS        1
SALICYLATE                                                                    1
SLO?NIACIN                                                                    1
Name: drugname, Length: 19742, dtype: int64