In [5]:
import pandas as pd

In [6]:
out_file = pd.read_csv('OUTC20Q3.txt', delimiter='$')

### This file represents the medical coded outcomes for a patient's reported reaction. For example, if a patient experienced an intentinal obstruction and they were hospitalized and then had another related complication, there will be 2 lines for the given primaryid/caseid, signifying the progression of condition of the patient. 

### Example below

In [9]:
### The below example shows that this patient had experienced a 'Hospitalization - Initial or Prolonged' (HO) from their 
### medication therapy, and then later experienced an 'Other Serious' (Important Medical Event) directly caused by the
### initial reaction

file = out_file[out_file.caseid==10004820]
file

   primaryid    caseid outc_cod
1  100048208  10004820       HO
2  100048208  10004820       OT

In [12]:
### No missing values in this file


null_df = pd.DataFrame(out_file.isnull().sum()).reset_index()
null_df.columns = ['column', 'missing_values']
null_df

      column  missing_values
0  primaryid               0
1     caseid               0
2   outc_cod               0