In [1]:
import pandas as pd

In [2]:
reac_file = pd.read_csv('REAC20Q3.txt', delimiter='$')

### This file represents the patient's experienced reaction to thier medication therapy. Some patients expereinced multiple reactions, and they are listed on separate lines in no particular order (no indication of significance or progression).

In [15]:
reac_file

         primaryid    caseid                        pt drug_rec_act
0        100046943  10004694                  Cataract          NaN
1        100046943  10004694  Type 2 diabetes mellitus          NaN
2        100048208  10004820    Intestinal obstruction          NaN
3        100048232  10004823  Type 2 diabetes mellitus          NaN
4        100049343  10004934  Type 2 diabetes mellitus          NaN
...            ...       ...                       ...          ...
1454039   99988881   9998888        Malignant melanoma          NaN
1454040   99989772   9998977             Renal failure          NaN
1454041   99990442   9999044  Subarachnoid haemorrhage          NaN
1454042  999913118   9999131      Basal cell carcinoma          NaN
1454043  999913118   9999131   Squamous cell carcinoma          NaN

[1454044 rows x 4 columns]

In [10]:
### quantify missing values in file


null_df = pd.DataFrame(reac_file.isnull().sum()).reset_index()
null_df.columns=['column', 'missing_values']
null_df

         column  missing_values
0     primaryid               0
1        caseid               0
2            pt               0
3  drug_rec_act         1451628

In [20]:
### This patient experienced a Cataract and Type 2 diabetes mellitus from their drug therapy. These events are not listed in 
### any order of significance


file = reac_file[reac_file.caseid == 10004694]
file

   primaryid    caseid                        pt drug_rec_act
0  100046943  10004694                  Cataract          NaN
1  100046943  10004694  Type 2 diabetes mellitus          NaN

In [19]:
### These values correspond to symptoms observed after a patient restarts their drug therapy. Populated with reac_file.pt 
### observations

reac_file.drug_rec_act.value_counts()

Headache                        60
Nausea                          43
Diarrhoea                       41
Fatigue                         38
Dizziness                       32
                                ..
Pericardial effusion             1
Toxoplasmosis                    1
Left ventricular dysfunction     1
Sleep disorder                   1
Cardiogenic shock                1
Name: drug_rec_act, Length: 854, dtype: int64